@import url("datatables.net-dt");
:root {
  --p-maroon-50: #b02cf4;
  --p-maroon-100: #ae27f1;
  --p-maroon-200: #9f23de;
  --p-maroon-300: #9520cf;
  --p-maroon-400: #861cbc;
  --p-maroon-500: #7c19ae;
  --p-maroon-600: #6e159b;
  --p-maroon-700: #64128d;
  --p-maroon-800: #5a0f80;
  --p-maroon-900: #4e0c6e;
  --p-maroon-950: #4a0b6a;
}

body {
  /* background-color: #0c1920; */
  background-color: var(--p-maroon-950);
  overflow: hidden;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigo */
}
